<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">TITULO</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-2 col-xl-2">DIRECTOR</div>
    <div class="col-10 col-sm-10 col-md-3 col-lg-3 col-xl-3">FECHA LANZAMIENTO</div>
</div>

<div *ngFor="let pelicula of peliculas">
    <app-pelicula-item [pelicula]="pelicula" (peliculaSeleccionada)="verDatos($event)"></app-pelicula-item>
</div>

<!-- Modal -->
<div class="modal fade" id="modalPelicula" tabindex="-1" role="dialog" aria-labelledby="datosPelicula" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="datosPelicula">Datos Pelicula</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-pelicula [pelicula]="peliculaVerDatos" (peliculaEliminar)="onPeliculaEliminar($event)"></app-pelicula>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>